/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

hr {
    border: 0;
    border-top: 1px solid #0550a5;
    height: 1px;
    color: #0550a5;
    background-color: #0550a5;
}

img {
    border: none;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
}
h3 {
    font-size: 120%;
}
h4 {
    font-size: 110%;
}
h5 {
    font-size: 100%;
}

a {
    color: #35b;
}
a:hover {
    color: #b53;
}

#page {
    background-color: #fff;
    border: solid 1px #ccc;
    border-top: none;
    width: 900px;
    margin: 0 auto 16px auto;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    padding: 0;
    text-align: left;
}

#top {
    width: 900px;
    height: 65px;
    background-color: #fff;
    border-bottom: none;
    margin: 0;
    padding: 10px 0 0 0;
}

#mid {
    width: 900px;
    border-bottom: 1px solid #ccc;
    /*	background-image: url(../img/bg.png);*/
    margin: 0;
    padding: 1em 0 0 0;
    display: flex;
}

#side {
    width: 180px;
    margin: 0;
    padding: 5px 10px 5px 10px;
}

#main {
    width: 676px;
    margin: 0;
    padding: 7px;
    text-align: justify;
}

.break {
    clear: both;
}

#bot {
    width: 900px;
    border-bottom: 1px solid #777;
    font-size: 75%;
    text-align: center;
    margin: 0;
    papping: 0;
    color: #225;
}

#burgermenu-checkbox {
    display: none;
}
label[for="burgermenu-checkbox"] {
    display: none;
    user-select: none;
    background: #fff;
    color: #0550a5;
    line-height: 1.5;
    text-underline-offset: 3px;
    padding-right: 0.5em;
    cursor: pointer;
}

label[for="burgermenu-checkbox"]:hover,
label[for="burgermenu-checkbox"]:focus {
    text-decoration: underline;
}

label[for="burgermenu-checkbox"] span {
    font-size: 1.2em;
    font-weight: bold;
}

#top h1 {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 10px;
    color: #000000;
    font-size: 24px;
}
#top h1 a {
    text-decoration: none;
}
#top h1 a:hover,
#top h1 a:focus {
    text-decoration: underline;
}
#top h2 {
    margin: 0;
    padding: 4px 0 5px 10px;
    color: #000000;
    font-size: 90%;
}

/* Menu */
#side li a {
    text-decoration: none;
    color: #ffffff;
}
#side li {
    padding: 0;
    background-color: transparent;
}

#side li a {
    padding: 5px 0 5px 15px;
    display: block;
    color: #ffffff;
    background-color: #0550a5;
    text-align: left;
    border: 1px solid currentColor;
}

#side li a:hover,
#side li a:focus {
    display: block;
    background-color: #0550a578;
}
#side li a.active {
    color: #0550a5;
    background-color: #ffffff;
}

button,
.btn {
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    user-select: none;
    padding: 5px;
    background: #ffffff82;
    color: #0550a5;
    border: 1px solid currentColor;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
    background-color: #0550a5;
    color: #fff;
}
button:active,
.btn:active {
    box-shadow: inset 0px 0px 1px 2px rgb(255 255 255), 0px 0px 1px 1px #0550a5;
    background-color: #0550a5;
    color: #fff;
}

button .icon,
.btn .icon {
    font-size: 1.2em;
}
button img,
.btn img {
    background: white;
    border-radius: 100%;
    padding: 1px;
}

.zul {
    padding: 13px 0 0;
    margin: 10px 0 0 0;
    list-style: none;
}

#zadmin {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 0 2px;
    margin: 3px 0 0 0;
}
.ztable {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 0 2px;
    margin: 5px 0;
    width: 100%;
}
.zalert {
    border: 1px solid #c00;
    background-color: #fea;
    padding: 0 2px;
}

#side {
    text-align: center;
}

#side .logo_web2_0 {
    margin-top: 28px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

navbar {
    display: flex;
    justify-content: space-between;
}
