---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://www.la-rache.com{{ page.url }}</loc>
    <lastmod>2026-01-10</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{% if page.url == "/" or page.url == "/index.html" %}1.0{% else %}0.8{% endif %}</priority>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
